<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="LogDatabaseAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString name="LogsConnection" value="data source=server.domain.local\production;Initial Catalog=WorkNestLogs;user id=production;password=qsIjA4WS5KOCGKb;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <commandText name="SqlQuery" value="INSERT INTO FrontendWebLogs([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </appender>
  </log4net>	
</configuration>