@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Translations

<aside id="sidebar-menu">
    <ul class="sidebar-menu_list">
        <li class="sidebar-menu_item active">
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-fw fa-home"></i>                
                <span>@I18NEngine.GetString("modules.layouts.sidebar", "menu_item_home")</span>
            </a>
        </li>

        <li class="sidebar-menu_item">
            <a href="@Url.Action("Index", "TaskManager")">
                <i class="fa fa-fw fa-list"></i>
                <span>@I18NEngine.GetString("modules.layouts.sidebar", "menu_item_task_manager")</span>
            </a>
        </li>
    </ul>
</aside>  