<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=server.domain.local\develop;initial catalog=WorkNest;persist security info=True;user id=develop;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LogsConnection" connectionString="Server=server.domain.local;initial catalog=WorkNestLogs;persist security info=True;user id=develop;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SaContextConnection" connectionString="Server=server.domain.local\develop;initial catalog=master;persist security info=True;user id=sa;password=_qwerty123!@#;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstanceSqlServer" value="Develop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FolderSqlServer" value="MSSQL13.DEVELOP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WorkSqlDbName" value="WorkNest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogsSqlDbName" value="WorkNestLogs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SqlDbUser" value="develop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>  
</configuration>